.cryptoAddContainer {
  border-radius: 3px;
  background: #ffffff;
  max-width: 400px;
  width: 100%;
  padding: 30px 50px 40px;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
    input {
      border-radius: 5px;
      padding: 10px;
      font-weight: 700;
      border: 2px solid #d7d8db;
      font-weight: 800;
    }
  }
  .addButton {
    background: #fd4b24;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
  }
  p {
    color: #d7d8db;
    font-weight: 600;
  }
}
